/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */

body {
	padding-top: 20px !important;
}
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}
.gwt-TextBox {
	display: block;
	margin: 0 auto;
}

.gwt-Button {
  display: inline-block;
  font-size: 16pt;
  margin: 20px 10px 0 !important;
  width: 200px;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

#edit, #card {
	width: 600px;
	text-align: center;
	margin: 0 auto;
}

#login {
	width: 230px;
	margin: 40px auto;
}

#login .gwt-TextBox, #login .gwt-PasswordTextBox {
	float: right;
	width: 160px;
}

#login .gwt-Label {
	float: left;
	clear: both;
	margin-top: 5px;
}
#image {
	float: left;
}
#text {
	padding-top: 50px;
}
.gwt-Image {
	width: 150px;
}

.gwt-PopupPanel {
	left: 5% !important;
	right: 5%;
	text-align: center;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }